<div class="recrutor-message">
  <div class="message-content-recrutor" >
    <p class="message-container message" id="message-<%= message.id %>">
      <%= message.content %>
    </p>
    <i class="author">
      <small><%= message.created_at.strftime("%e %b à %l:%M") %></small>
    </i>
  </div>
</div>
