.input-chatroom-div {
  max-height: 100px;
  width: calc($iWidth-20px);
  position: fixed;
  bottom: $tab-bar;
  border-radius: 40px;
  margin-bottom: 15px;
  input{
    height: 60px;
    margin: 0;
    border: solid 0px;
  }
input[type="submit"]{
      width: 110px;
background-color: $jaune;
color: $indigo;
border-radius: 0 40px 40px 0;
padding: 0;
  }

input{
        width: 270px;
background-color: $violet ;
color: white;
border-radius: 40px 0 0 40px;
padding: 0 50px;
  }
}

.recrutor-message{
  border-radius: 0 40px 40px 40px;
  word-wrap: break-word;
  flex-wrap: wrap;
  background-color: $jaune;
  position: relative;
  right: 40px;
  min-width: 50px;
  max-width: 300px;
  overflow: auto;
  padding: 15px;
}

.user-message{
  border-radius: 40px 40px 0 40px;
  word-wrap: break-word;
  flex-wrap: wrap;
  background-color: $violet;
  position: relative;
  left: 40px;
  min-width: 50px;
  max-width: 300px;
  overflow: auto;
  padding: 15px;
}
