// Specific CSS for Dashboard

.dashboard{
background-color: $indigo;
}

.dash-jaune{
background-color: $jaune;
p{
color: $indigo;
}
}

.dash-orange{
background-color: $orange;
}

.dash-grey{
background-color: $obsydian
}
