<div data-controller="hello">
  <%= form_with url: skill_show_path, method: :get, html: {
   data: { hello_target: 'formulaire' } } do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'chercher une compétence',
                     value: params[:query],
                     data: { hello_target: 'button', action: 'keyup->hello#update' } %>

         <% end %>
<%= render "list_skills", skills: @skills %>
</div>
