<div id="fullscreen_animation">
<iframe src="http://localhost:3000/" style="width:10%;height:10%;"></iframe>
<img id="animation_close" src="http://images.clipartpanda.com/happy-birthday-banner-clipart-dT6zAqaT9.png"/>
</div>
