<nav class="tabbar">

    <%= render '/shared/svg/dashboard.svg' %>
    <p>dashboard</p>

  <a href="#" class="tabbar-icons">
  <%= render '/shared/svg/matchs.svg' %>
  <p>Matchs</p>
  </a>
  <a href="#" class="tabbar-icons">
  <%= render '/shared/svg/messages.svg' %>
    <p>Messages</p>
  </a>
</nav>
