<nav class="menu">
  <a href="#" class="menu-item">
  <%= render '/shared/svg/dashboard.svg' %>
  </a>
  <a href="#" class="menu-item">
  <%= render '/shared/svg/matchs.svg' %>
  </a>
  <a href="#" class="menu-item">
  <%= render '/shared/svg/messages.svg' %>
  </object>

  </a>
</nav>
