  <div class="usercard">
  <%= render "shared/avatar"%>
  <div id="usercard-text">
  <h4><%= @user.first_name.capitalize %></h4>
  <h4 style="font-weight:normal;"><%= @user.last_name.capitalize %></h4>
  </div>
  </div>
