  <div class="home content">
    <img src='<%= image_path 'home.png'%>' style="max-width:100vw"><hr>
    <h2 style="margin-top: -17px;">Welcome to</h2>
    <h1 style="margin-top: -15px;">Jobble</h1>
    <p style="text-align: center; color: white; line-height: 20px;">Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>sed do eiusmod tempor incididunt.</p>
  </div>
