// ℹ️ -- Conteneur basique centré sans scroll -- ℹ️ \\
.content{
  // iPhone Height - ( status-bar height + tab-bar height ) = usable space
  // ✅ height: calc( #{$iHeight} - ( #{$status-bar} + #{$tab-bar} ) );
  height: calc( 100vh - #{$tab-bar} );
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin: 0 10px;
  -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
  scrollbar-width: none;  /* hide scrollbar Firefox */
}

.content::-webkit-scrollbar {
  display: none; /*Hide scrollbar for Chrome, Safari and Opera */
}

.content-long{
  // iPhone Height - ( status-bar height + tab-bar height ) = usable space
  // ✅ height: calc( #{$iHeight} - ( #{$status-bar} + #{$tab-bar} ) );
  height: calc( 100vh - #{$tab-bar} );
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  margin: 0 10px;
  -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
  scrollbar-width: none;  /* hide scrollbar Firefox */
}

.content-long::-webkit-scrollbar {
  display: none; /*Hide scrollbar for Chrome, Safari and Opera */
}

// ℹ️ -- Conteneur sans la tabbar -- ℹ️ \\
.content-full{
  // iPhone Height - ( status-bar height + tab-bar height ) = usable space
  // ✅ height: calc( #{$iHeight} - ( #{$status-bar} + #{$tab-bar} ) );
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
  scrollbar-width: none;  /* hide scrollbar Firefox */
}

.content-full::-webkit-scrollbar {
  display: none; /*Hide scrollbar for Chrome, Safari and Opera */
}

.content-offers{
  // iPhone Height - ( status-bar height + tab-bar height ) = usable space
  // ✅ height: calc( #{$iHeight} - ( #{$status-bar} + #{$tab-bar} ) );
  height: calc( 100vh - #{$tab-bar} );
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
  scrollbar-width: none;  /* hide scrollbar Firefox */
}

.content-offers::-webkit-scrollbar {
  display: none; /*Hide scrollbar for Chrome, Safari and Opera */
}

.content-center{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}


// // ℹ️ -- Conteneur basique AVEC scroll (pas de limite de height)-- ℹ️ \\
// .long-content{
//   // iPhone Height - ( status-bar height + tab-bar height ) = usable space
//   min-height: calc( #{$iHeight} - ( #{$status-bar} + #{$tab-bar} ) );
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 20px;
// }
