.navigation-bar{
position:sticky;
top: 0px;
height: 60px;
width: $iWidth;
display: grid;
grid-template-columns: 2fr 3fr 2fr;
align-content: center;
align-items: baseline;
justify-items: center;
.fa-chevron-left{
font-size: 13px;
}
h6{
  font-weight: 700;
}
span{
  color: $jaune;
}
}
