.base{
  border-radius: 30px;
p,h1,h2,h3,h4{
  line-height: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
}

.dashboard-pill{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 324px;
  min-height: 60px;
  padding: 0 25px;
  @extend .base;
}

.logout-pill{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  box-shadow: $hadow-pill;
  @extend .base;
}

.info-pill{
  background-color: $indigo;
  padding: 5px 10px;
  box-shadow: $hadow-pill;
  @extend .base;
}

.large-info-pill{
  @extend .info-pill;
  padding: 10px;
}

.xlarge-info-pill{
  @extend .info-pill;
  padding: 20px;
}

.dashboard-info-pill{
  padding: 20px;
  width: 324px;
  text-align: center;
  @extend .base;
}

.button-pill-md{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  box-shadow: $hadow-pill;
  @extend .base;
}

.button-pill-narrow{
  @extend .button-pill-md;
  width: 170px;
}

.button-pill-large{
  @extend .button-pill-md;
  width: 324px;
}

.button-pill-xlarge{
  @extend .button-pill-large;
  width: unset;
}


.pill-jaune{
background-color: $jaune;
color: black !important;
}

.pill-blanc{
background-color: $blanc;
color: black !important;
}

.pill-orange{
background-color: $orange;
color: $blanc !important;
}

.pill-indigo{
background-color: $indigo;
color: $blanc !important;
}

.pill-lavande{
background-color: $lavande;
color: $blanc !important;
}

.pill-obsydian{
background-color: $obsydian;
color: $blanc !important;
}
