// ℹ️ the height of the tab bar
$tab-bar: 100px;
// ℹ️ the size (height) of the tab bar icons
$tab-bar-icons: 23px;
// ℹ️ the left-right margin of the icons
$tab-bar-icons-margin: 45px;
// ℹ️ the vertial padding of the icons
$tab-bar-icons-y-position: 18px;



.tabbar {
  // size
  // ℹ️ $tab-bar is the height of the tab-bar it can be found on application.scss
	height: $tab-bar;
  max-width: 428px;
  width: 100vw;
  // position
  position:fixed;
  bottom:0;
	display: flex;
  //comportement
  overflow: hidden;
  padding: 0 $tab-bar-icons-margin $tab-bar-icons-y-position $tab-bar-icons-margin ;
	background-color: unset;
}

.tabbar-icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
  text-decoration: none;
  p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 500;
  padding-top: 2px;
  margin-bottom: 0rem;
  }
  svg {
  height: $tab-bar-icons;
  fill: rgba(255, 255, 255, 0.5);
  // filter: drop-shadow(10px 0 5px red);
  }
  transition: 0.2s ease;
  &:hover,.active{
  transition: 0.5s ease;
  svg { fill: white; }
  p { color: white; }
  }
}

.tabbar-active {
  p{
  color: $jaune;
  }
  svg {
  fill: $jaune;
  }
}

#message-notif{
position: absolute;
top:13px;
right: 40px;
height: 15px;
width: 15px;
border-radius: 100%;
background-color: $orange;
display: flex;
align-items: center;
justify-content: center;
font-size: 10px;
}


#relative-notif
{
  position: relative;
}
