*,
*:after,
*:before {
	box-sizing: border-box;
}



.menu {
  position: fixed;
  bottom:0;
	display: flex;
  width: 100vw;
	height: 90px;
  overflow: hidden;
	background-color: $indigo;
  padding: 0 40px 15px 40px ;
}

.menu-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	text-decoration: none;
  svg{
    height: 30px;
    fill:rgba(255, 255, 255, 0.5);
    // filter: drop-shadow(10px 0 5px red);
    transition: 0.2s ease;
    .active{
      fill:$blanc;
      transition: 0.5s ease;
    }
  }
}
