// ❗️ -- SCSS Variables has to be on top -- ❗️ \\

// ℹ️ the iphone pro max width
$iWidth: 428px;
// ℹ️ the iphone pro max height
$iHeight: 926px;
// ℹ️ the height of the iphone status bar
$status-bar: 47px;
// ℹ️ the height of the tab bar is in tabbar.scss

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/tabbar";
@import "components/content";
@import "pages/index";
@import "pages/home";

// ℹ️ -- style used to display in Desktop Browser view -- ℹ️ \\
html{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $indigo;
}

body{
  // ℹ️ bkgnd clr of body : define color of the iphone status bar
  background-color: $indigo;
  // ℹ️ define all screen usage for bellow max-height/width
  height: 100vh;
  width: 100vw;
  // ℹ️ 47px is the height of the iphone status bar
  // ℹ️ 926px is the height of iphone pro max
  // ✅ max-height: calc( #{$iHeight} - #{$status-bar} );
  // ℹ️ 428px is the iphone pro max width
  max-width: $iWidth;
  box-shadow: 0 0 90px black;
  h1, h2, h3, h4, h5, h6{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: bold;
}
}


// ❗️ -- fix the content on the page - use with caution -- ❗️ \\
.fixed{
  position: fixed;
}


// ❗️ -- info rails chargement page / SUPPRIMER SI PROBLEME -- ❗️ \\
.profiler-result{
  display: none;
}


// ❗️ -- ⬇️ -- prevent default comportement -- ⬇️ -- ❗️ \\

body{
  margin: 0;
}

html {
  margin: 0;
}

a :link{
  text-decoration: none;
  color:unset;
}

a:hover {
  text-decoration: none;
  color:unset;
}

a:active {
  text-decoration: none;
  color:unset;
}

a:visited {
  text-decoration: none;
  color:unset;
}

a {
  text-decoration: none;
  color:unset;
}

.notice{
  margin:0;
}
